@use './variables' as v;

.card {
  position: absolute;
  top: 32px;
  left: 50px;

  box-sizing: border-box;
  width: 200px;
  height: 408px;
  margin: 0 auto;
  padding: 24px;
  border: 1px solid v.$gray-border;
  border-radius: 8px;

  background-color: v.$white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 134px;
    margin: 18px auto 16px;
    border: 1px solid v.$gray-border;
    border-radius: 5px;

    background-color: v.$gray-border;
  }

  &__title {
    display: flex;

    width: 166px;
    height: 36px;
    margin: 0 0 4px;
    padding: 18px;

    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: v.$main-accent;
    text-align: center;
    word-wrap: break-word;
  }

  &__subtitle {
    width: 98px;
    height: 14px;
    margin: 0 0 4px 17px;

    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: v.$secondary;
  }

  &__code {
    display: flex;
    align-items: center;

    width: 166px;
    height: 16px;
    margin: 0 0 4px 17px;

    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: v.$secondary;
  }

  &__reviews {
    display: flex;
    gap: 16px;
    justify-content: space-between;

    width: 166px;
    height: 16px;
    margin: 0 0 4px 17px;

    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: v.$secondary;
  }

  &__reviews-text {
    display: flex;
    align-self: flex-end;

    margin: 16px 24px;

    font-family: Inter, sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: v.$main-accent;
    text-align: flex-end;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 166px;
    margin: 0 0 4px 10px;
    padding: 2px;

    font-size: 12px;
    font-weight: 600;
    color: v.$main-accent;
  }

  &__price-label {
    margin: 0;
    margin-bottom: 10px;
    padding: 5px;

    font-family: Inter, sans-serif;
    font-weight: 700;
    color: rgba(97, 96, 112, 1);
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 166px;
    height: 36px;
    margin: 14px 0 0 10px;
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid rgba(243, 243, 244, 1);
    border-radius: 5px;

    font-size: 14px;
    font-weight: 600;
    color: v.$white;
    text-decoration: none;
    letter-spacing: 0.5px;

    background-color: v.$blue-accent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);

    transition: background-color 0.3s;

    &:hover {
      border: 1px solid v.$blue-accent;
      color: v.$blue-accent;
      background-color: v.$white;
    }
  }
}
