@use './variables' as v;

.card {
  position: absolute;
  top: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: 200px;
  height: 408px;
  margin: auto;
  padding: 23px;
  border: 1px solid v.$gray-border;
  border-radius: 8px;

  font-family: Roboto, sans-serif;

  background-color: v.$white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 149px;
    height: 134px;
    margin: 8px auto 40px;
    border: 1px solid v.$gray-border;
    border-radius: 5px;

    background-color: v.$gray-border;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 34px;
    margin: 0 0 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: v.$main-accent;
    text-align: center;
  }

  &__code {
    display: block;
    align-items: center;
    justify-content: center; // Centralizado
    width: 166px;
    height: 14px;
    margin: 0 0 17px; // Margem lateral removida
    font-size: 9px;
    font-weight: 400;
    line-height: 14px;
    color: v.$secondary;
  }

  &__reviews {
    display: flex;
    justify-content: space-between; // Centralizado
    gap: 4px; // Espaçamento entre estrelas e texto
    width: 166px;
    font-size: 9px;
    color: v.$secondary;
  }

  &__reviews-text {
    font-size: 9px;
    font-weight: 400;
    color: v.$main-accent;
    margin-bottom: 15px;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 166px;
    margin: 0 0 14px; // Margem lateral removida
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: v.$main-accent;
  }

  &__price-label {
    margin: 0;
    font-weight: 500;
    color: rgba(97, 96, 112, 1);
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 40px;
    margin: 0; // Margem lateral removida
    border: 1px solid v.$blue-accent; // Borda fixa para evitar salto no hover
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: v.$white;
    text-decoration: none;
    letter-spacing: 0.5px;
    background-color: v.$blue-accent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;

    &:hover {
      background-color: v.$white;
      color: v.$blue-accent;
    }
  }
}
