@use './variables' as v;
@use './card';
@use './stars';

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  margin: 0;

  font-family: Inter, sans-serif;

  background-color: v.$gray-light;
}
