@use './variables';
@use './card';
@use './stars';


body {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Inter, sans-serif;
  background-color: $gray-light;
  height: 100vh;
}
