@use './variables';
@use './card';
@use './stars';


body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: $gray-light;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
