// stars.scss
@use 'variables' as v;

.stars {
  display: flex;
  gap: 4px;

  &__item {
    width: 16px;
    height: 16px;

    background: v.$gray-border;

    -webkit-mask: url('../images/star-active.svg') no-repeat center / contain;
    mask: url('../images/star.svg') no-repeat center / contain;
  }
}
