$main-accent: rgb(6, 11, 53);
$secondary: rgb(97, 96, 112);
$blue-accent: rgb(0, 172, 220);
$gray-border: rgb(243, 243, 243);
$gray-light: rgb(250, 250, 250);
$white: rgb(255, 255, 255);
$yellow: rgb(255, 204, 0);
